.tab-editor {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

.tab-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* .play, .stop {
  display: flex;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -500px;
}*/

.stop {
  background-color: #ffffff;
}

.tab-container {
  flex: 1;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  margin-top: 35px;
  text-align: center;
}
