.tab-editor {
  display: flex;
  flex: 1;
  padding: 0px;
  flex-direction: column;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}


.tab-container {
  display: flex;
  flex: 1;
  position: relative;
  top: 98px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0px;
  border-radius: 5px;
  text-align: center;
}

