.tab-field-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 0 auto;
  width: fit-content;
  height: 200px;
  transform: translateX(-100px); /* ← сдвигаем влево на 50px */
}

.tab-boxes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
