.tab-field-container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
  width: fit-content;
  height: 200px;
}

.tab-boxes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
