.tab-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.strings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.svg-strings {
  display: flex;
  line-height: 1.5;
  letter-spacing: 1px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 180px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.tab-line {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  white-space: nowrap;
  min-width: 30px;
}

.tab-line:empty:before {
  content: " ";
  background: transparent;
}

.tab-line[contenteditable="true"]:empty:before {
  content: " ";
}

.tabs-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
