

.tab-header {
  display: flex;
  flex-flow: wrap;
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  padding: 15px;
  border-radius: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.tab-header-buttons {
  display: flex;
  gap: 10px; 
}

.play {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease;
  
}

.play:hover {
  background-color: #ddd;
}

.metronomeButton{
  background-size: 100%;
  background-color: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}
.speed-control {
  position: relative;
  display: flex;
  align-items: center;
}

.speed-control input {
  width: 70px;
  padding: 8px 24px 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  appearance: textfield;
}

.speed-control input::-webkit-outer-spin-button,
.speed-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.percent-label {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #666;
  font-size: 16px;
}

.bpm-control {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.bpm-control input {
  width: 70px;
  padding: 8px 24px 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  appearance: textfield;
}

.bpm-control input::-webkit-outer-spin-button,
.bpm-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bpm-label {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #666;
  font-size: 16px;
}

.time-signature-control {
  position: relative;
  display: flex;
  align-items: center;
}

.time-signature-control input {
  width: 70px;
  padding: 8px 24px 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: left;
}

.time-signature-label {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #666;
  font-size: 16px;
}


.time-signature-control.invalid input {
  border-color: #ea4447;
  background-color: #fff0f0;
}
